# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.
name: CI/CD Pipeline

on:
  push:
    branches:
      - 'main'
  pull_request:
    types: [opened, synchronize]

permissions:
  contents: write
  pull-requests: read

jobs:
  semantic-commit-linter:
    name: Validate PR title
    runs-on: ubuntu-latest
    permissions:
      contents: read
      issues: read
      pull-requests: read
      id-token: none
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
      - name: Install semantic-release
        run: |
          npm install semantic-release -D
          npm install @semantic-release/commit-analyzer -D 
          npm install @semantic-release/release-notes-generator -D
          npm install @semantic-release/changelog 
          npm install @semantic-release/exec -D
          npm install @semantic-release/git -D
          npm install @semantic-release/github -D
          npm install conventional-changelog-conventionalcommits -D
      - name: Run Semantic Commit Analyzer
        run: npx semantic-release --dry-run
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  run-tests:
    name: Run Tests
    needs: semantic-commit-linter
    strategy:
      fail-fast: false
      matrix:
        include:
          - os: macos-latest
            java: 8
            distribution: zulu
            scala: 3.7.4
          - os: ubuntu-latest
            java: 8
            distribution: zulu
            scala: 2.12.x
          - os: ubuntu-latest
            java: 8
            distribution: zulu
            scala: 3.7.4
    runs-on: ${{ matrix.os }}
    env:
      JAVA_OPTS: -Xms800M -Xmx2G -Xss2M -XX:ReservedCodeCacheSize=128M -Dfile.encoding=UTF-8
      JVM_OPTS: -Xms800M -Xmx2G -Xss2M -XX:ReservedCodeCacheSize=128M -Dfile.encoding=UTF-8
      CI_BUILD: ""
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v4
        with:
          distribution: "${{ matrix.distribution }}"
          java-version: "${{ matrix.java }}"
          cache: "sbt"
      - uses: sbt/setup-sbt@v1
        with:
          sbt-runner-version: 1.11.7
      - shell: bash
        run: |
          sbt -v "++${{ matrix.scala }}" fmt test scripted

  semantic-release:
    name: Semantic Release
    runs-on: ubuntu-latest
    needs: run-tests
    permissions:
      contents: write
      issues: write
      pull-requests: write
      id-token: write
    if: github.ref == 'refs/heads/main'  # Only run on main branch
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.SBT_REDACTED_PAT }}
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "lts/*"
      - name: Install semantic-release
        run: |
          npm install semantic-release -D
          npm install @semantic-release/commit-analyzer -D 
          npm install @semantic-release/release-notes-generator -D
          npm install @semantic-release/changelog 
          npm install @semantic-release/exec -D
          npm install @semantic-release/git -D
          npm install @semantic-release/github -D
          npm install conventional-changelog-conventionalcommits -D
      - name: Release
        run: npx semantic-release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
